<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title"> Enter Your Email
      <p class="subTitle">To receive a reset password link</p>
    </ion-title>
  </div>
  <div class="">
    <ion-item>
      <ion-input class="input" type="email" placeholder="email"></ion-input>
      <ion-icon slot="start" color="dark" name="mail-outline"></ion-icon>
    </ion-item>
    <ion-button size="large" color="danger" shape="round" expand="block" [routerLink]="['/login']">Login</ion-button>
  </div>
</ion-content>
